@model Evention2.Models.TicketOrderView
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="~/Scripts/vue.js"></script>
    <div class="app">
        <div class="row">
            <h2>@Model.EventName</h2>
        </div>

        <div class="row">
            <h3>Choose your ticket</h3>
        </div>
        @using (Html.BeginForm("Create", "Order", FormMethod.Post))
        {
            foreach (var ticket in Model.Tickets)
            {
                <div class="row border mx-auto my-2 py-2" v-for="ticket in tickets">
                    <div class="col-md-8">
                        <h4>@Html.DisplayTextFor(t => ticket.Sku_Name)</h4>
                        <p>@Html.DisplayFor(t => ticket.Sku_Desc)</p>
                    </div>
                    <div class="col-md-2">
                        <p>AU$ @Html.DisplayFor(t => ticket.Price)</p>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label for="Qty" class = "control-label">Quantity</label>
                            @Html.EditorFor(t => ticket.Qty, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                        </div>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-end align-items-center">
                <h4 class="mx-2">Total: AU$ 1145.14</h4>
                <button class="btn btn-primary mx-2" v-on:click="placeOrder">Place Order</button>
            </div>
        }
    </div>
