@model Evention2.Models.EventDetailViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Model.aEvent.EventName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:rgba(0,0,0,0)">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Event List", "Index", "Event")</li>
            <li class="breadcrumb-item active">@Html.DisplayFor(model => model.aEvent.EventName)</li>
        </ol>
    </nav>
</div>

<h2>@Html.DisplayFor(model => model.aEvent.EventName)</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Rating: @ViewBag.AvgScore</h4>
            <h5>Description</h5>
            <p>@Html.DisplayFor(model => model.aEvent.EventDesc)</p>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.EventName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.EventName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.EventDesc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.EventDesc)
                </dd>

                <dt>
                    Address
                </dt>

                <dd>
                    @{
                        string address = Model.aEvent.Street + ", " + Model.aEvent.Surburb + ", " + Model.aEvent.PostCode;
                    }
                    @address
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Start_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Start_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.End_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.End_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.OwnerId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.OwnerId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.PosterImg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.PosterImg)
                </dd>

            </dl>
        </div>
    </div>
</div>

<div class="row">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.aEvent.EventId })
    </p>
</div>
<div class="row">
    <!--<p>@Html.ActionLink("Send to my email", "ShareEvent", "Event", new { id = User.Identity.GetUserId()}, null)</p>-->
    <p data-target="#eventShareModal" data-toggle="modal"><a href="#">Share by email</a></p>
</div>

@Html.Partial("~/Views/Rate/_EventRates.cshtml", Model.eventRates)


@Html.Partial("~/Views/Event/_Share.cshtml", Model.aEvent) 
