@model Evention2.Models.EventDetailViewModel

@{
    ViewBag.Title = Model.aEvent.EventName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>TODO: Add breadcrumb</p>

<h2>@Html.DisplayFor(model  => model.aEvent.EventName)</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Rating: @ViewBag.AvgScore</h4>
            <h5>Description</h5>
            <p>@Html.DisplayFor(model => model.aEvent.EventDesc)</p>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.EventName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.EventName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.EventDesc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.EventDesc)
                </dd>

                <dt>
                    Address
                </dt>

                <dd>
                    @{
                        string address = Model.aEvent.Street + ", " + Model.aEvent.Surburb + ", " + Model.aEvent.PostCode;
                    }
                    @address
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Start_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Start_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.End_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.End_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.OwnerId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.OwnerId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.PosterImg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.PosterImg)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aEvent.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Partial("~/Views/Rate/_EventRates.cshtml", Model.eventRates)