@model Evention2.Models.EventDetailViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Model.aEvent.EventName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MapBox references-->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />
<script src="https://unpkg.com/@("@")mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:rgba(0,0,0,0)">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Event List", "Index", "Event")</li>
            <li class="breadcrumb-item active">@Html.DisplayFor(model => model.aEvent.EventName)</li>
        </ol>
    </nav>
</div>

<div class="row justify-content-between">
    <div class="col-md-10">
        <h2>@Html.DisplayFor(model => model.aEvent.EventName)</h2>
    </div>
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.aEvent.EventId }, new { @class = "btn btn-outline-primary" })
        </p>
    </div>
</div>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="@Url.Content(Model.aEvent.PosterImg)" class="img-fluid"/>
            <h4>Rating: @ViewBag.AvgScore</h4>
            <h5>Description</h5>
            <p>@Html.DisplayFor(model => model.aEvent.EventDesc)</p>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.EventName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.EventName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.EventDesc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.EventDesc)
                </dd>

                <dt>
                    Address
                </dt>

                <dd>
                    @{
                        string address = Model.aEvent.Street + ", " + Model.aEvent.Surburb + ", " + Model.aEvent.PostCode;
                    }
                    @address
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.Start_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.Start_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.aEvent.End_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.aEvent.End_date)
                </dd>

            </dl>
        </div>
    </div>
</div>
<!--Initialize js environment in which stores detailed information of event.-->
<script>
    class Event {

    }
</script>

<div class="row">
    <!--<p>@Html.ActionLink("Send to my email", "ShareEvent", "Event", new { id = User.Identity.GetUserId()}, null)</p>-->
    <p data-target="#eventShareModal" data-toggle="modal"><a href="#">Share by email</a></p>
</div>
<h2>Location Map</h2>
<div class="row">
    <div id='map' style='width: 100%; height: 450px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamVycnljaGEiLCJhIjoiY2sxNXNldmdmMHlibjNjdGM4MnAyZHR4aCJ9.OjElwhEEogXkUfGOgpX3mA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [144.9531077, -37.8261293],
            zoom: 14
        });
        map.on('load', () => {
            map.loadImage('/Content/img/cao.jpg', (error, image) => {
                if (error) throw error;
                map.addImage('cao', image);
                map.addLayer({
                    "id": "points",
                    "type": "symbol",
                    "source": {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": [{
                                "type": "Feature",
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [144.9531077, -37.8261293]
                                }
                            }]
                        }
                    },
                    "layout": {
                        "icon-image": "cao",
                        "icon-size": 0.4
                    }
                });
            });
        });
    </script>
</div>
<script src="~/Scripts/event_detail.js"></script>
<div class="row my-3" style="display:block">
    @Html.Partial("~/Views/Rate/_EventRates.cshtml", Model.eventRates)
</div>


@Html.Partial("~/Views/Event/_Share.cshtml", Model.aEvent)
