@model IEnumerable<Evention2.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-between">
        <div class="col-6 my-auto">
            <h2>Event List</h2>
        </div>

        <div class="col-2 my-auto">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
            </p>
        </div>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            Address
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_date)
        </th>
        <th>
            Operation
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @{ 
                string eventAddress = $"{item.Street}, {item.Surburb}, {item.PostCode}";
            }
            @eventAddress
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_date)
        </td>

        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit ", "Edit", new { id = item.EventId });
                @Html.ActionLink("Delete ", "Delete", new { id = item.EventId });
            }

            @Html.ActionLink("Details", "Details", new { id = item.EventId })

        </td>
    </tr>
}

</table>

